.header {
    .header-logo {
        background-image: url('../../img/logo.png');
        background-repeat: no-repeat;
        width: 500px;
        height: 100px;
        background-position: center center;
        margin: 1rem auto;
        background-size: cover;
    }
}