$color-gamma-0: #ffffff;
$color-gamma-1: #254D0D;
$color-gamma-1-50: #254D0D77;
$color-gamma-2: #BFD05F;
$color-gamma-3: #dfa90d;
$color-gamma-4: #f4dc8c;
$color-gamma-5: #fff0e1;

$color-gamma-text-1: #eeeeee;

$color-back: $color-gamma-0;
$color-border: $color-gamma-text-1;
$color-text: $color-gamma-text-1;
$color-back-drag: $color-gamma-5;

